<html>
<head>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
		  integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
	<script src="https://code.jquery.com/jquery-1.12.3.min.js"
			integrity="sha256-aaODHAgvwQW1bFOGXMeX+pC4PZIPsvn2h1sArYOhgXQ=" crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"
			integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS"
			crossorigin="anonymous"></script>
	<style type="text/css">
		.navbar-form input, .form-inline input {
			width: auto;
		}

		@media (min-width: 979px) {
			#sidebar.affix-top {
				position: static;
				margin-top: 25px;
				width: 228px;
			}

			#sidebar.affix {
				position: fixed;
				top: 25px;
				width: 228px;
			}
		}

		.affix, .affix-top {
			position: static;
		}
	</style>
</head>
<body>
<div class="container">
	<div class="row">
		<div class="col-md-3">
			<div class="list-group" id="sidebar">
				<a href="#goal" class="list-group-item">PHP 7 g()('al')</a>
				<a href="#generator_delegation" class="list-group-item">Generator Delegation</a>
				<a href="#generator_return" class="list-group-item">Generator Return</a>
				<a href="#scalar_type_hints" class="list-group-item">Scalar Type Hints</a>
				<a href="#return_type_declaration" class="list-group-item">Return Type Declaration</a>
				<a href="#null_coalesce_operator" class="list-group-item">Null Coalesce Operator</a>
				<a href="#tie_fighter_operator" class="list-group-item">Tie Fighter Operator</a>
				<a href="#anonymous_classes" class="list-group-item">Anonymous Classes</a>
				<a href="#closure_call" class="list-group-item">Closure::call()</a>
			</div>
			<script type="text/javascript">
				$(document).ready(function () {
					$('#sidebar').affix();
				});
			</script>
		</div>
		<div class="col-md-9">
			<h1 class="page-header">PHP 7</h1>
			<div class="row">
				<div class="col-md-12">
					<h2 id="goal">First of all, g()('al') works now in PHP 7!!!</h2>
					<p>This is possible due to uniform variable syntax. Read more on https://wiki.php.net/rfc/uniform_variable_syntax</p>
				</div>
				<div class="col-md-8">
					<h3>Code:</h3>
					<pre><?php echo highlight_file('snippets/goal.php', true); ?></pre>
				</div>
				<div class="col-md-3">
					<h3>Output:</h3>
					<pre><?php include_once 'snippets/goal.php'; ?></pre>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<h2 id="generator_delegation">Generator delegation</h2>
				</div>
				<div class="col-md-9">
					<h3>Code:</h3>
					<pre><?php echo highlight_file('snippets/generator_delegation.php', true); ?></pre>
				</div>
				<div class="col-md-3">
					<h3>Output:</h3>
					<pre><?php include_once 'snippets/generator_delegation.php'; ?></pre>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<h2 id="generator_return">Generator return expression</h2>
					<p>Yielded values can be iterated over by generators, returned values from generators cannot.
						Since PHP 7 the method "getReturn" was introduced to the Generator class to allow return
						values.</p>
				</div>
				<div class="col-md-9">
					<h3>Code:</h3>
					<pre><?php echo highlight_file('snippets/generator_return.php', true); ?></pre>
				</div>
				<div class="col-md-3">
					<h3>Output:</h3>
					<pre><?php include_once 'snippets/generator_return.php'; ?></pre>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<h2 id="scalar_type_hints">Scalar Type Hints</h2>
					<p>Type hints have been available in PHP for while now. Unfortunately they were restricted to
						classes, arrays and callables.</p>
					<p>Upon uncommenting the declaration, PHP will throw a type error</p>
				</div>
				<div class="col-md-9">
					<h3>Code:</h3>
					<pre><?php echo highlight_file('snippets/scalar_type_hints.php', true); ?></pre>
				</div>
				<div class="col-md-3">
					<h3>Output:</h3>
					<pre><?php include_once 'snippets/scalar_type_hints.php'; ?></pre>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<h2 id="return_type_declaration">Return type declarations</h2>
					<p>To esure output consistency, return type declarations can used now.</p>
					<p>Same as above, upon uncommenting the strict type declaration, PHP will throw a type error</p>
				</div>
				<div class="col-md-9">
					<h3>Code:</h3>
					<pre><?php echo highlight_file('snippets/return_type_declaration.php', true); ?></pre>
				</div>
				<div class="col-md-3">
					<h3>Output:</h3>
					<pre><?php include_once 'snippets/return_type_declaration.php'; ?></pre>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<h2 id="null_coalesce_operator">Null Coalesce Operator</h2>
				</div>
				<div class="col-md-9">
					<h3>Code:</h3>
					<pre><?php echo highlight_file('snippets/null_coalesce_operator.php', true); ?></pre>
				</div>
				<div class="col-md-3">
					<h3>Output:</h3>
					<pre><?php include_once 'snippets/null_coalesce_operator.php'; ?></pre>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<h2 id="tie_fighter_operator">Tie Fighter Operator</h2>
					<p>There is a new operator called "space ship operator" or how I like to call it "tie fighter
						operator". Comparing values is easier now! Check the return values:</p>
					<ul>
						<li>0 both equal</li>
						<li>1 left value greater</li>
						<li>-1 left value lesser</li>
					</ul>
				</div>
				<div class="col-md-9">
					<h3>Code:</h3>
					<pre><?php echo highlight_file('snippets/tie_fighter_operator.php', true); ?></pre>
				</div>
				<div class="col-md-3">
					<h3>Output:</h3>
					<pre><?php include_once 'snippets/tie_fighter_operator.php'; ?></pre>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<h2 id="anonymous_classes">Anonymous Classes</h2>
					<p>Another step in functional programming is the introduction of anonymous classes.</p>
				</div>
				<div class="col-md-9">
					<h3>Code:</h3>
					<pre><?php echo highlight_file('snippets/anonymous_classes.php', true); ?></pre>
				</div>
				<div class="col-md-3">
					<h3>Output:</h3>
					<pre><?php include_once 'snippets/anonymous_classes.php'; ?></pre>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<h2 id="closure_call">Closure::call()</h2>
					<p>PHP 7 introduced an easier way to bind an object to the scope of the closure. It was and is quite
						dangerous IMHO!</p>
				</div>
				<div class="col-md-9">
					<h3>Code:</h3>
					<pre><?php echo highlight_file('snippets/closure_call.php', true); ?></pre>
				</div>
				<div class="col-md-3">
					<h3>Output:</h3>
					<pre><?php include_once 'snippets/closure_call.php'; ?></pre>
				</div>
			</div>
		</div>
	</div>
</div>
</body>
</html>